@import "../../utils/variables";

.script__item {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  align-items: center;
  // width: 296px;
  height: 35px;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  justify-content: space-between;

  &_day {
    background: $bars-day;
  }

  &_night {
    background: $bars-night;
  }

  .script__btns {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    // justify-items: center;
    justify-content: flex-end;
    gap: 24px;
  }

  .script__text {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    //width: 240px;
    width: 100%;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .script__btn {
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    margin-left: 0px;
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    transition: 0.3s all;

    &:hover {
      transform: scale(1.1);
    }

    &_off_day {
      background-image: url("../../img/power-day.svg");
    }

    &_off_night {
      background-image: url("../../img/power-night.svg");
    }

    &_import_day {
      background-image: url("../../img/import/import-day.svg");
    }

    &_import_night {
      background-image: url("../../img/import/import-night.svg");
    }

    &_power_day {
      background-image: url("../../img/power-day.svg");
    }

    &_power_night {
      background-image: url("../../img/power-night.svg");
    }

    &_power_disabled {
      background-image: url("../../img/power-disabled-day.svg");
    }

    &_power_disabled_night {
      background-image: url("../../img/power-disabled-night.svg");
    }

    &_delete_day {
      background-image: url("../../img/delete-day.svg");
    }

    &_delete_night {
      background-image: url("../../img/delete-night.svg");
    }

    &_settings_day {
      background-image: url("../../img/settings-day.svg");
    }

    &_settings_night {
      background-image: url("../../img/settings-night.svg");
    }

    &_play_day {
      background-image: url("../../img/play-day.svg");
    }

    &_play_night {
      background-image: url("../../img/play-night.svg");
    }
  }
}

@media(max-width:430px) {
  .script__item {
    padding: 10px 16px;
    height: 31px;
    .script__text {
      font-size: 16px;
    }
    .script__btns {
      gap: 5px;
    }
    .script__btn {
      width: 24px;
      height: 24px;
    }
  }

}