@import "../../utils/variables";

// .script-item {
//   position: relative;
//   margin: 0px;
//   //padding: 0px;
//   display: flex;
//   flex-direction: column;
//   max-width: 976px;
//   border-radius: 24px;
//   padding: 32px 40px 58px;
//   margin-top: 25px;
//   transition: 0.5s all;
//   box-sizing: border-box;
//   width: 100%;
//   list-style: none;
//   overflow: hidden;

//   &--show {
//     max-height: 2000px;
//   }

//   &--hide {
//     max-height: 30px;
//   }

//   &--day {
//     background-color: $bars-day;
//   }

//   &--night {
//     background-color: $bars-night;
//   }

//   &__body-item {
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     justify-content: space-between;
//   }

//   &__form {
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     gap: 12px;

//     label {
//       cursor: pointer;
//     }
//   }

//   &__input {
//     background-color: transparent;
//     border: 0px;
//     outline: none;
//     max-width: 100px;

//     &--day {
//       color: $font-day;
//     }

//     &--night {
//       color: $font-night;
//     }
//   }

//   &__btns {
//     position: static;
//     //display: flex;
//     //align-items: center;
//     //justify-items: center;
//     gap: 5px;
//   }

//   &__btn {
//     background-color: transparent;
//     border: 0px;
//     outline: none;
//     cursor: pointer;

//     img {
//       transition: 0.5s all;
//     }
//   }

//   &__btn-show--open {
//     transform: rotate(0deg);
//   }

//   &__btn-show--close {
//     transform: rotate(180deg);
//   }

//   &__head {
//     margin-top: 36px;
//     display: flex;
//     flex-direction: column;
//     // justify-content: center;
//     align-items: center;
//   }
//   &__controls {
//     display: flex;
//     flex-direction: row;
//    justify-content: space-around;
//   }

//   &__controller {
//     gap: 25px;
//     display: flex;
//     flex-direction: column;
//     input {
//       width: 256px;
//       //width: 100%;
//     }
//     .controler__value {
//       width: 64px;
//     }
//   }


//   &__body {
//     display: flex;
//     flex-direction: row;
//     // position: relative;
//     // align-items: center;
//     justify-content: center;
//   }

//   &__control {
//     width: 100%;
//   }

//   &__add-row {
//     margin-top: 15px;
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     gap: 10px;
//     width: 100%;
//   }

//   &-add__btn {
//     display: flex;
//     flex-grow: 1;
//     align-items: center;
//     justify-items: center;
//     justify-content: center;
//     padding: 24px 20px;
//     text-align: center;
//     //border: 0px;
//     border: 2px dashed $btns-day;
//     background: rgba(30, 133, 255, 0.10);
//     outline: none;
//     border-radius: 24px;
//     cursor: pointer;
//     transition: 0.3s all;
//     &:hover {
//       transform: scale(1.05);
//     }
//     &--day {
//       background-color: $bars-day;
//       color: $btns-day;
//     }
//     &--night {
//       background-color: $bars-night;
//       color: $btns-night;
//     }
//     img {
//       max-width: 32px;
//       max-height: 32px;
//     }
//   }

//   &__footer {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;
//     margin-top: 40px;
//     align-items: center;
//   }
// }

.robot-script {
  &__add-col-trigger{
    display: flex;
    flex-direction: column;
    &-name {
      display: flex;
      margin: 0 0 0 16px;
      justify-content: space-between;
      padding-top: 16px;
      align-items: center;
      margin-bottom: 8px;

      &-inner {
        display: flex;
        gap: 8px;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
        }
        &--day {
          color: $btns-day;
        }

        &--night {
          color: $btns-night;
        }
      }
    }
    &-items:last-child {
      &-add__btnILi {
        display: none;
      }
    }
    &-inputTime {
      padding: 8px 12px;
      border: none;
      border-radius: 40px;
      width: 24%;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 8px;
      &--day {
        color: $btns-day;
        background-color: $move-add-smt-day;
      }

      &--night {
        color: $btns-night;
        background-color: $move-add-smt-night;
      }
    }
  }

  &__triggerTimeText {
    width: 209px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    // margin-left: 19px;
  }

  // display: flex;
  //   flex-direction: column;
  //   justify-content: left;
  //   align-items: start;
  //   margin-left: 12px;

  &-add {
    &__btnNotRepeat {
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 24px;
      border: none;
      padding: 8px 12px;
      width: 263px;
      height: 38px;
      // margin: 8px 0 12px -20px;
      &--day {
        color: $main-bg-day;
        background-color: $btns-day;
      }

      &--night {
        color: $main-bg-night;
        background-color: $btns-night;
      }
    }
  }

  &-add__btnRepeatTime--week-checked {
    // border-radius: 24px;
    // padding: 7px 7px 6px 5px;
    background: $btns-day;
  }

  &-add__btnRepeat--startup-checked {
    background: $btns-day;
  }

}


// @media(max-width: 1320px) {
//   .script-item {
//     padding: 24px;
//   }
// }


// @media(max-width: 1285px) {
//   .script-item {
//     &__body-item {
//       flex-direction: column;
//     }

//     &--hide {
//       max-height: 100px;
//     }
//     &__controls {
//       flex-direction: column;
//      justify-content: flex-start;
//     }

//     &__control {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }

//     &__btns {
//       position: absolute;
//       right: 24px;
//       bottom: 104px;
//       gap: 5px;
//     }
//   }
// }

// @media(max-width: 1120px) {
//   .script-item {
//     &__btns {
//       position: absolute;
//       right: 24px;
//       bottom: 184px;
//       gap: 5px;
//     }
//   }
// }

// @media(max-width: 1285px) {
//   .script-item {
//     &__control {
//       &-name {
//         font-size: 24px;
//       }
//     }
//   }
// }

// @media(max-width:515px) {
//   .script-item {

//     &__face {
//       max-width: 280px;
//       max-height: 168px;
//     }

//     &--hide {
//       max-height: 80px;
//     }

//     &__btn {
//       max-width: 24px;
//       max-height: 24px;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       img {
//         max-width: 24px;
//         max-height: 24px;
//       }
//     }

//     &__form {
//       input {
//         font-size: 24px;
//       }

//       label {
//         max-width: 24px;
//         max-height: 24px;

//         img {
//           max-width: 24px;
//           max-height: 24px;
//         }
//       }
//     }
//   }
// }