@import "../../utils/variables";
.robot {
  &__form {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: relative;
    z-index: 7;

  }

  &__input-day {
    width: 100%;
    margin: 20px 40px;
    border: 0px;
    padding: 20px 55px 20px 32px;
    border-radius: 32px;
    font-size: 16px;
    background: $bars-day;
    color: $font-day;
    &:focus {
      outline: none;
    }
  }
  &__input-night {
    width: 100%;
    margin: 20px 40px;
    border: 0px;
    padding: 20px 55px 20px 32px;
    border-radius: 32px;
    font-size: 16px;
    color: $font-night;
    background: $bars-night;
    &:focus {
      outline: none;
    }
  }
  &__send {
    position: absolute;
    right: 60px;
    top: 34px;
    z-index: 9;
    background-color: transparent;
    border: 0px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media(max-width: 850px) {
  .robot {
    &__form {
      position: fixed;
      left: 0;
      bottom: 125px;
      width: 100%;
      margin-top: 63px;
    }
  }
}

@media(max-width: 650px) {
  .robot {
    &__form {
      bottom: 97px;
      z-index: 7;
    }
    &__input-day {
      margin: 20px 16px;
    }
    &__input-night {
      margin: 20px 16px;
    }
    &__send {
      right: 32px;
    }
  }
}