@import "../../utils/variables";

.tabs {
  .face__items-container {
    display: flex;
    //align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    gap: 12px;
    margin-bottom: 24px;

    @media(max-width: 480px) {
      //width: 270px;
    }

    &--day {
      background-color: $robot-day;

      .face__item-title {
        display: flex;
        width: 144px;
        padding: 14px 0px 15px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        background-color: #f4f6fb;
        @media(max-width: 1285px) {
          width: 120px;
        }
        @media(max-width: 480px) {
          width: 82px;
          padding: 3px 0px;
        }
      }

      .face__item-img {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 144px;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f4f6fb;

        @media(max-width: 1285px) {
          width: 120px;
        }
        @media(max-width: 480px) {
          width: 82px;
        }

        .line {
          width: 54px;
          height: 6px;
          border-radius: 19px;
          background-color: $main-bg-night;

          @media(max-width: 480px) {
            width: 32px;
            height: 4px;
          }
        }
      }

      .active {
        background-color: $btns-day;
        color: white;
        svg {
          & rect {
            fill: #1E85FF;
            fill-opacity: 0;
          }
          & path {
            stroke: white;
          }
        }
        .line {
          background-color: white;
        }
      }
    }

    &--night {
      background-color: $robot-move-night;
      .face__item-title {
        display: flex;
        width: 144px;
        padding: 14px 0px 15px 0px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        background-color: $robot-night;


        @media(max-width: 1285px) {
          width: 120px;
        }
        @media(max-width: 480px) {
          width: 82px;
          padding: 3px 0px;
        }
      }

      .face__item-img {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 144px;
        border-radius: 8px;
        cursor: pointer;
        background-color: $robot-night;

        @media(max-width: 1285px) {
          width: 120px;
        }
        @media(max-width: 480px) {
          width: 82px;
        }

        svg {
          & rect {
            fill: #f4f6fb;
            fill-opacity: 0;
          }
          & path {
            stroke: $btns-night;
          }
        }

        .line {
          width: 54px;
          height: 6px;
          border-radius: 19px;
          background-color: $btns-night;

          @media(max-width: 480px) {
            width: 32px;
            height: 4px;
          }
        }
      }

      .active {
        background-color: $btns-night;
        color: $main-bg-night;

        svg {
          & rect {
            fill: #f4f6fb;
            fill-opacity: 0;
          }
          & path {
            stroke: $main-bg-night;
          }
        }

        .line {
          background-color: $main-bg-night;
        }
      }

    }
  }

  .content {
    display: none;
  }

  .active-content {
    display: block;
    margin-bottom: 160px;

    @media(max-width: 1400px) {
      margin-bottom: 300px;
    }
    @media(max-width: 1285px) {
      margin-bottom: 260px;
    }
    @media (min-width: 1104) and (max-width: 1118px) {
      margin-bottom: 0;
    }
    @media (max-width: 1103px) {
      margin-bottom: 260px;
    }
    @media(max-width: 650px) {
      margin-bottom: 180px;
    }
  }

  .controls-content {
    position: absolute;
    top: 204px;
    left: 40px;
    max-width: 960px;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-start;
    gap: 66px;
    //flex-wrap: wrap;
    @media(max-width: 1400px) {
      flex-direction: column;
      gap: 0px;
      //margin-bottom: 360px;
    }
    @media(max-width: 1320px) {
      left: 24px;
    }
    // @media (min-width: 1104) and (max-width: 1118px) {
    //   //margin-top: 160px;
    //   margin-top: 0;
    // }
    @media (min-width: 850px) and (max-width: 1033px) {
      margin-top: 160px;
    }
    // @media(max-width: 850px) {
    //   margin-top: 0;
    // }
    @media (min-width: 735px) and (max-width: 850px) {
      margin-top: 0;
    }
    @media(max-width: 734px) {
      margin-top: 160px;
      left: auto;
    }
  }

  .mobile-controls-tabs {
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;

    @media(max-width: 480px) {
      //max-width: 270px;
      max-width: 265px;
    }

    &--day {
      background: $robot-day;

      .mobile-controls__item-title {
        flex-grow: 1;
        padding: 12px;
        border-radius: 8px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        background-color: #f4f6fb;
      }
      .active {
        background-color: $btns-day;
        color: white;
      }
    }
    &--night {
      background: $robot-move-night;

      .mobile-controls__item-title {
        flex-grow: 1;
        padding: 12px;
        border-radius: 8px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        background-color: $robot-night;
      }
      .active {
        background-color: $btns-night;
        color: $main-bg-night;
      }
    }
    &--show {
      display: flex;
    }
    &--hide {
      display: none;
    }
  }

  .mimicitem__controller--hide {
    display: none;
  }
}