@import '../../utils/variables';

.right-sidebar {
  flex: 1;
  max-width: 400px;
  min-height: 100vh;
  &_day {
    background-color: $bars-day;
    color: $font-day;
  }
  &_night {
    background-color: $bars-night;
    color: $font-night;
  }
  display: flex;
  flex-direction: column;
}
