@import "../../utils/variables";

.navlist {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 56px;
  //margin: 40px 0 0 56px;

  &__dialog.active {
    background-color:  #82D451;
  }

  & li {
    //padding: 10px;
    cursor: pointer;
    border-radius: 8px;

    max-width: fit-content;

    & a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      padding: 10px;
      border-radius: 8px;

      & p {
        margin: 0;
        font-size: 28px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        text-decoration: none;
      }

      & .nav-link__ico {
        margin-right: 8px;
      }
      & img {
        margin-right: 8px;
      }
    }
  }

  &__item {
    &_day {
      &:hover {
        background-color: #d2d9ef;
      }
    }
    &_night {
      &:hover {
        background-color: #101420;
      }
    }
  }

  &__link {
    &_day {
      color: $font-day;
      //fill: #1E85FF;
    }

    &_night {
      color: $font-night;
      //fill: #DEF8FC;
    }
  }
}

@media(max-width:850px) {
  .navlist {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;

    & li {
      & a {
        flex-direction: column;
        align-items: center;

        & p {
          font-size: 20px;
        }

        & .nav-link__ico {
          max-width: 32px;
          max-height: 32px;
          width: 100%;
          height: 100%;
          margin: 0;
        }
        & img {
          max-width: 32px;
          max-height: 32px;
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
    }
  }
}

@media(max-width:650px) {
  .navlist {
    & a {
      & p {
        display: none;
      }
    }
  }
}