@import "../../utils/variables";

.profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 56px;

  & li {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    max-width: fit-content;
    display: flex;
    flex-direction: row;

    & a {
      text-decoration: none;
      font-size: 28px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
    }

    & img {
      margin-right: 8px;
    }
  }

  &__item {
    &_day {
      &:hover {
        background-color: #d2d9ef;
      }
    }
    &_night {
      &:hover {
        background-color: #101420;
      }
    }
  }

  &__link {
    &_day {
      color: $font-day;
    }

    &_night {
      color: $font-night;
    }
  }
}

@media(max-width:850px) {
  .profile {
    margin: 0px;

    & a {
      white-space: nowrap;
    }
  }
}

@media(max-width:650px) {
  .profile {
    & li {
      & img {
        margin: 0;
      }

      & a {
        display: none;
      }
    }
  }
}