@import "../../utils/variables";

.movesitem {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  max-width: 976px;
  border-radius: 24px;
  padding: 32px 40px 58px;
  margin-top: 25px;
  transition: 0.5s all;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  overflow: hidden;

  &--show {
    max-height: 2000px;
  }

  &--hide {
    max-height: 10px;
  }

  &--day {
    background-color: $bars-day;
  }

  &--night {
    background-color: $bars-night;
  }

  // &--hide &__body-item {
  //   max-height: 10px;

  //   overflow: hidden;
  // }

  // &--hide &__footer {
  //   max-height: 10px;

  //   overflow: hidden;
  //   margin-top: 0px;
  // }

  // &--hide &__control {
  //   max-height: 10px !important;
  //   overflow: hidden;
  //   margin-top: 0px;
  // }

  // &--hide &-robot {
  //   max-height: 10px;
  //   overflow: hidden;
  // }
  // &--hide &__head {
  //   max-height: 10px;
  //   overflow: hidden;
  // }
  // &--hide &__body {
  //   max-height: 10px;
  //   overflow: hidden;
  // }
  &__header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  &__body-item {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;

    label {
      cursor: pointer;
    }
  }

  &__input {
    background-color: transparent;
    border: 0px;
    outline: none;
    max-width: 280px;

    &--day {
      color: $font-day;
    }

    &--night {
      color: $font-night;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 5px;
  }

  &__btn {
    background-color: transparent;
    border: 0px;
    outline: none;
    cursor: pointer;

    img {
      transition: 0.5s all;
    }
  }

  &__btn-draggable {
    background-color: transparent;
    border: 0px;
    outline: none;
    cursor: grab;

    img {
      transition: 0.5s all;
    }
  }

  &__btn-show--open {
    transform: rotate(0deg);
  }

  &__btn-show--close {
    transform: rotate(180deg);
  }

  &__head {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  &__controller {
    gap: 25px;
    display: flex;
    flex-direction: column;
  }

  &__face {
    max-width: 240px;
    max-height: 144px;
  }

  &__neck {
    max-width: 95px;
    max-height: 22px;
    margin: 8px 0;
    transition: 0.5s all;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    // position: relative;
    // align-items: center;
    justify-content: center;
  }

  &__torso {
    display: flex;
    max-width: 166px;
    max-height: 367px;
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  &__logo {
    top: 41px;
    left: 28px;
    max-width: 114px;
    max-height: 104px;
    position: absolute;
  }

  &__breast {
    display: flex;
    flex-direction: column;
    max-width: 166px;
    max-height: 367px;
    align-items: center;

  }

  &__left-shoulder {
    display: flex;
    flex-direction: column;
    max-width: 83px;
    max-height: 63px;
    align-items: center;
    position: absolute;
    left: -42px;

  }

  &__right-shoulder {
    display: flex;
    flex-direction: column;
    max-width: 83px;
    max-height: 63px;
    align-items: center;
    position: absolute;
    right: -42px;
  }

  &__arm {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }

  &__arm-item {
    margin-bottom: 4px;
    transition: 0.5s all;
    width: 48px;
    height: 71px;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__control {
    &-name {
      font-size: 32px;
      font-weight: 500;
      max-width: 260px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
    align-items: center;
  }

  &-add__btn {
    //position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 90%;
    gap: 10px;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
    border: 0px;
    outline: none;
    border-radius: 12px;
    padding: 16px 0px;
    overflow: hidden;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.05);
    }

    &--day {
      background-color: $move-add-smt-day;
      color: $btns-day;
      fill: $btns-day;
    }
    &--night {
      background-color: $move-add-smt-night;
      color: $btns-night;
      fill: $btns-night;
    }
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }
}

@media(max-width: 1285px) {
  .movesitem {
    &__body-item {
      flex-direction: column;
    }

    &--hide {
      max-height: 100px;
    }

    &__control {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media(max-width: 920px) {
  .movesitem {
    padding: 24px 32px 32px 32px;
  }
}

@media(max-width: 900px) {
  .movesitem {
    padding: 24px 32px 32px 32px;

    &__face {
      max-width: 138px;
      max-height: 105px;
    }

    &__neck {
      max-width: 79px;
      max-height: 18px;
    }

    &__torso {
      max-width: 138px;
      max-height: 304px;
      // margin-bottom: 60px;
    }

    &__logo {
      top: 40px;
      left: 23px;
      max-width: 95px;
      max-height: 87px;
    }

    &__breast {
      max-width: 138px;
      max-height: 304px;
    }

    &__left-shoulder {
      max-width: 69px;
      max-height: 52px;
    }

    &__right-shoulder {
      max-width: 69px;
      max-height: 52px;
    }

    &__arm {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      margin-right: 50px;
    }

    &__arm-item {
      margin-bottom: 3px;
      max-width: 40px;
      max-height: 59px;
    }

    &__control {
      &-name {
        font-size: 24px;
      }
    }

    &-add__btn {
      font-size: 24px;

      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media(max-width:515px) {
  .movesitem {
    padding: 24px 8px 16px 8px;

    &--hide {
      max-height: 80px;
    }

    &__arm:first-child {
      margin-left: 0px;
      margin-right: 46px;
    }

    &__arm:last-child {
      margin-left: 46px;
      margin-right: 0px;
    }

    &__btn {
      max-width: 24px;
      max-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 24px;
        max-height: 24px;
      }
    }

    &__form {
      input {
        font-size: 24px;
      }

      label {
        max-width: 24px;
        max-height: 24px;

        img {
          max-width: 24px;
          max-height: 24px;
        }
      }
    }
  }
}