@import "../../utils/variables";
.controler {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  & img {
    max-width: 32px;
    max-height: 32px;
    margin-right: 17px;
  }
  &-input {
    max-width: 288px;
    background: inherit;
  }
  &__value {
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    min-width: 47px;

    &--day {
      background-color: $robot-day;
      color: $font-day;
    }
    &--night {
      background-color: $robot-night;
      color: $font-night;
    }
  }
  &__title {
    width: 24px;
    margin-right: 16px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

}

input[type=range].controler-input {
  height: 2.2em;
  -webkit-appearance: none;
}

/*progress support*/
input[type=range].controler-input.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 40px + var(--ratio) * (100% - 40px));
}

input[type=range].controler-input:focus {
  outline: none;
}

/*webkit*/
input[type=range].controler-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 25%;
  //background: linear-gradient(90deg, #94C5FF 0.36%, #1E85FF 110.25%, #0459BE 110.25%);
  background: #1E85FF;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((32px - 1px - 1px) * 0.5,0px) - 40px * 0.5);
}

input[type=range].controler-input::-webkit-slider-runnable-track {
  height: 32px;
  border: none;
  //border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: linear-gradient(to right, #EFEFEF, #D1D8EF);
  box-shadow: none;
}

input[type=range].controler-input::-webkit-slider-thumb:hover {
  background: #0061c3;
}

input[type=range].controler-input:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #E5E5E5, #D1D8EF);
  border: none;
  //border-color: #9a9a9a;
}

input[type=range].controler-input::-webkit-slider-thumb:active {
  background: #2f98f9;
}

input[type=range].controler-input:active::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #F5F5F5, #D1D8EF);
  border: none;
  //border-color: #c1c1c1;
}

input[type=range].controler-input.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #94C5FF 0.36%, #1E85FF 110.25%, #0459BE 110.25%) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #EFEFEF, #D1D8EF);
}

input[type=range].controler-input.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #94C5FF 0.36%, #1E85FF 110.25%, #0459BE 110.25%) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #E5E5E5, #D1D8EF);
}

input[type=range].controler-input.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #94C5FF 0.36%, #1E85FF 110.25%, #0459BE 110.25%) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #F5F5F5, #D1D8EF);
}

/*mozilla*/
input[type=range].controler-input::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background: #007cf8;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].controler-input::-moz-range-track {
  height: max(30px,0px);
  border: none;
  //border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: linear-gradient(to right, #EFEFEF, #D1D8EF);
  box-shadow: none;
}

input[type=range].controler-input::-moz-range-thumb:hover {
  background: #0061c3;
}

input[type=range].controler-input:hover::-moz-range-track {
  background: linear-gradient(to right, #E5E5E5, #D1D8EF);
  border: none;
  //border-color: #9a9a9a;
}

input[type=range].controler-input::-moz-range-thumb:active {
  background: #2f98f9;
}

input[type=range].controler-input:active::-moz-range-track {
  background: linear-gradient(to right, #F5F5F5, #D1D8EF);
  border: none;
  //border-color: #c1c1c1;
}

input[type=range].controler-input.slider-progress::-moz-range-track {
  background: linear-gradient(#007cf8,#007cf8) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #EFEFEF, #D1D8EF);
}

input[type=range].controler-input.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#0061c3,#0061c3) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #E5E5E5, #D1D8EF);
}

input[type=range].controler-input.slider-progress:active::-moz-range-track {
  background: linear-gradient(#2f98f9,#2f98f9) 0/var(--sx) 100% no-repeat, linear-gradient(to right, #F5F5F5, #D1D8EF);
}

/*ms*/
input[type=range].controler-input::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].controler-input::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].controler-input::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  background: #007cf8;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].controler-input::-ms-track {
  height: 32px;
  border-radius: 0.5em;
  background: linear-gradient(to right, #EFEFEF, #D1D8EF);
  border: none;
  //border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].controler-input::-ms-thumb:hover {
  background: #0061c3;
}

input[type=range].controler-input:hover::-ms-track {
  background: linear-gradient(to right, #E5E5E5, #D1D8EF);
  border: none;
  //border-color: #9a9a9a;
}

input[type=range].controler-input::-ms-thumb:active {
  background: #2f98f9;
}

input[type=range].controler-input:active::-ms-track {
  background: linear-gradient(to right, #F5F5F5, #D1D8EF);
  border: none;
  //border-color: #c1c1c1;
}

input[type=range].controler-input.slider-progress::-ms-fill-lower {
  height: max(30px, 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #007cf8;
  border: none;
  //border: 1px solid #b2b2b2;
  border-right-width: 0;
}

input[type=range].controler-input.slider-progress:hover::-ms-fill-lower {
  background: #0061c3;
  border: none;
  //border-color: #9a9a9a;
}

input[type=range].controler-input.slider-progress:active::-ms-fill-lower {
  background: #2f98f9;
  border: none;
  //border-color: #c1c1c1;
}

