@import "../utils/variables";

.emotion {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    padding: 20px 32px;
    &_day {
      background-color: $bars-day;
      color: $font-day;
    }
    &_night {
      background-color: $bars-night;
      color: $font-night;
    }
  }
  &__back-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    cursor: pointer;
    font-size: 32px;
    &_day {
      color: $font-day;
    }
    &_night {
      color: $font-night;
    }
  }
  &__back-btn-img {
    width: 40px;
    height: 40px;
  }
  &__new-move-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.05);
    }
    &_day {
      background-color: $btns-day;
      color: #ffffff;
    }
    &_night {
      background-color: $btns-night;
      color: #101420;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 64px);
    padding: 32px;
  }
  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    // padding: 16px;
    padding: 0;
    margin: 0;
  }
}

@media(max-width:650px) {
  .emotion {
    &__new-move-btn {
      padding: 10px 15px;
      font-size: 16px;
    }
    &__back-btn {
      font-size: 16px;
      img {
        max-width: 24px;
        max-height: 24px;
      }
    }
  }
}
@media(max-width:340px) {
  .emotion {
    &__header {
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      gap: 20px;
    }
  }
}