@import '../utils/variables';

.robot-script {
  overflow-y: hidden;
  overflow-x: hidden;
  .mimicitem-add__last {
    width: 92%;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 25px;

    &--day {
      background-color: $bars-day;
    }

    &--night {
      background-color: $bars-night;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
  }

  &__back {
    & p {
      text-decoration: none;
      font-size: 32px;
      font-weight: 500;
      margin: 0px;
    }

    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    gap: 10px;

    &--day {
      color: $font-day;
    }

    &--night {
      color: $font-night;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
  }

  &__input {
    border: 0px;
    outline: none;
    background-color: transparent;
    max-width: 240px;
  }

  &__edit {
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  &__btn {
    background-color: transparent;
    text-align: center;
    border: 0px;
    padding: 0px;
    outline: none;
    cursor: pointer;
  }

  &__btnDlt {
    background-color: transparent;
    text-align: center;
    border: 0px;
    padding: 0px;
    outline: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 10px;
    overflow: hidden;
  }
  &__reorder {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  &__control {
    width: 100%;
    display: flex;
    gap: 136px;
  }
  &__add-col {
    margin-top: 15px;
    margin-left: 48px;
    max-width: 320px;

    //height: 190px;
    height: fit-content;
  }
  &__add-col-title {
    text-align: left;
    padding-bottom: 10px;
  }
  &__add-col-importedMoves {
    display: flex;
    //flex-direction: column;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    // &:last-child {
    //   .robot-script-add__btnILi {
    //     display: none;
    //   }
    // }
    &-move {
      display: flex;
      //width: 320px;
      width: 100%;
      height: 64px;
      // justify-content: center;
      align-items: center;
      border-radius: 8px;
      justify-content: space-between;
      //width: 100%;
      img {
        width: 32px;
        height: 32px;
      }
      &-text {
        display: flex;
        gap: 8px;
        padding-left: 16px;
      }
      &--day {
        color: $btns-day;
        background: $bars-day;
        //border: 1px solid $bars-day;
      }
      &--night {
        color: $btns-night;
        background: $bars-night;
        //border: 1px solid $bars-night;
      }
    }
  }
  &__add-col-trigger {
    display: flex;
    flex-direction: column;
    &-name {
      display: flex;
      margin: 0 0 0 16px;
      justify-content: space-between;
      padding-top: 16px;

      &-inner {
        display: flex;
        gap: 8px;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        img {
          width: 32px;
          height: 32px;
        }
        &--day {
          color: $btns-day;
        }

        &--night {
          color: $btns-night;
        }
      }
    }
    &-items {
      &:last-child {
        .robot-script-add__btnILi {
          display: none;
        }
      }
    }
    &-item {
      border-radius: 8px;
      &--day {
        //color: $btns-day;
        background: $bars-day;
        //border: 1px solid $bars-day;
      }
      &--night {
        // color: $btns-night;
        background: $bars-night;
        //border: 1px solid $bars-night;
      }
    }
  }
  &-add__btn {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 24px;
    // width: 319px;
    width: 100%;
    padding: 16px 26px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.03);
    }
    &--day {
      border: 2px dashed $btns-day;
      background: rgba(30, 133, 255, 0.10);
      //background-color: $bars-day;
      color: $btns-day;
    }
    &--night {
      border: 2px dashed $btns-night;
      background-color: rgba(222, 248, 252, 0.10);
      color: $btns-night;
    }
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }
  &-add__btnIli {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 24px;
    width: 320px;
    //padding: 16px 26px;
    padding: 8px 16px;
    text-align: center;
    outline: none;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.05);
    }
    &--day {
      border: 1px solid $bars-day;
      border-radius: 32px;
      margin: 8px 0 8px 0;
      padding: 8px 16px;
      //background: rgba(30, 133, 255, 0.10);
      background-color: $bars-day;
      color: $btns-day;
      width: -webkit-fill-available;
    }
    &--night {
      border: 1px solid $robot-move-night;
      border-radius: 32px;
      margin: 8px 0 8px 0;
      padding: 8px 16px;
      background-color: rgba(222, 248, 252, 0.10);
      color: $btns-night;
      width: -webkit-fill-available;
    }
  }

  &-add__btnRepeatTime {
    border-radius: 24px;
    padding: 7px 7px 6px 5px;
  }

  &__inputPhrase {
    border-radius: 8px;
    padding: 16px;
    background-color: #D1D8EF;
    width: 84%;
  }
  //стили для задерки (поправить)
  .delay__container {
    position: relative;
    display: flex;
    // margin-top: 8px;
    &--day {
      stroke: $btns-day;

    }
    &--night {
      stroke: $btns-night;
    }
  }
  .delay {
    padding: 16px 0 16px 16px;
    border-radius: 8px;
    &__input {
      display: none;
    }
    &--editable {
      .delay__value {
        display: none;
      }
      .delay__input {
        display: inline;
      }
    }
  }
  .delete-btn{
    //justify-self: right;
    text-align: right;
    position: absolute;
    top: 22px;
    right: 16px;
    cursor: pointer;
  }
  .expression {
    &__line {
      background-color: red;
      width: 10px;
      &--hidden {
        background: transparent;
      }
      &--roundTop {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      &--roundBottom {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
    .operation {
      display: flex;
    }
  }
  .expression:last-child {
    .operation {
      display: none;
    }
  }
}

@media(max-width: 1280px) {
  .robot-script {
    &__control {
      gap: 86px;
    }
    &-add__btn {
      font-size: 20px;
      padding: 12px 20px;
    }
  }

}

@media(max-width: 1240px) {
  .robot-script {
    &__control {
      flex-direction: column;
      gap: 4px;
      margin-bottom: 20px;
    }
    &__add-col {
      //height: 120px;
      height: fit-content;
    }
  }

}

@media(max-width:1015px) {
  .robot-script {
    &__header {
      padding: 20px 15px;
    }

    &__btns {
      gap: 12px;
    }

    &__back {
      & p {
        font-size: 24px;
      }
      gap: 0px;
    }

    &__control {
      //gap: 64px;
    }
  }
}

@media(max-width:920px) {
  .robot-script {
    &__edit {
      img {
        max-width: 24px;
        max-height: 24px;
      }
    }
    &__btn {
      img {
        max-width: 24px;
        max-height: 24px;
      }
    }
    &__input {
      font-size: 18px;
      max-width: 150px;
    }
    &__add-col {
      //height: 120px;
      height: fit-content;
    }
    &__control {
      flex-direction: column;
      gap: 4px;
      margin-bottom: 20px;
    }
    &-add__btn {
      font-size: 24px;
      padding: 16px 26px;
    }
  }
}

@media(max-width:600px) {
  .robot-script {
    &__back {
      & p {
        display: none;
      }
    }
    &__input {
      font-size: 16px;
      max-width: 135px;
    }
    &__add-col {
      margin-left: 24px;
    }
  }
}

@media(max-width:360px) {
  .robot-script {
    &__list {
      padding: 0px;
    }
    &-add__btn {
      //width: 290px;
      padding: 16px 8px 16px 10px;
    }
  }
}