@import '../utils/variables';

.robot-script {
  overflow-y: hidden;
  overflow-x: hidden;
  &__header {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 25px;

    &--day {
      background-color: $bars-day;
    }

    &--night {
      background-color: $bars-night;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
  }

  &__back {
    & p {
      text-decoration: none;
      font-size: 32px;
      font-weight: 500;
      margin: 0px;
    }

    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    gap: 10px;

    &--day {
      color: $font-day;
    }

    &--night {
      color: $font-night;
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 12px;
  }

  &__input {
    border: 0px;
    outline: none;
    background-color: transparent;
    max-width: 240px;
  }

  &__edit {
    cursor: pointer;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 24px;
  }

  &__btn {
    background-color: transparent;
    text-align: center;
    border: 0px;
    padding: 0px;
    outline: none;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 10px;
    overflow: hidden;
  }
  &__reorder {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  &__control {
    width: 100%;
    display: flex;
    gap: 136px;
  }
  &__add-col {
    margin-top: 15px;
    margin-left: 48px;
    max-width: 320px;

    height: 190px;
  }
  &__add-col-title {
    text-align: left;
    padding-bottom: 10px;
  }
  &-add__btn {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 16px 26px;
    text-align: center;

    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.05);
    }
    &--day {
      border: 2px dashed $btns-day;
      background: rgba(30, 133, 255, 0.10);
      //background-color: $bars-day;
      color: $btns-day;
    }
    &--night {
      border: 2px dashed $btns-night;
      background-color: rgba(222, 248, 252, 0.10);
      color: $btns-night;
    }
    img {
      max-width: 32px;
      max-height: 32px;
    }
  }
}

@media(max-width: 1280px) {
  .robot-script {
    &__control {
      gap: 86px;
    }
    &-add__btn {
      font-size: 20px;
      padding: 12px 20px;
    }
  }

}

@media(max-width:1015px) {
  .robot-script {
    &__header {
      padding: 20px 15px;
    }

    &__btns {
      gap: 12px;
    }

    &__back {
      & p {
        font-size: 24px;
      }
      gap: 0px;
    }

    &__control {
      gap: 64px;
    }
  }
}

@media(max-width:920px) {
  .robot-script {
    &__edit {
      img {
        max-width: 24px;
        max-height: 24px;
      }
    }
    &__btn {
      img {
        max-width: 24px;
        max-height: 24px;
      }
    }
    &__input {
      font-size: 18px;
      max-width: 150px;
    }
    &__add-col {
      height: 120px;
    }
    &__control {
      flex-direction: column;
      gap: 4px;
      margin-bottom: 20px;
    }
    &-add__btn {
      font-size: 24px;
      padding: 16px 26px;
    }
  }
}

@media(max-width:600px) {
  .robot-script {
    &__back {
      & p {
        display: none;
      }
    }
    &__input {
      font-size: 16px;
      max-width: 135px;
    }
  }
}

@media(max-width:360px) {
  .robot-script {
    &__list {
      padding: 0px;
    }
  }
}