@import "../utils/variables";

.settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;

    &_day {
        background-color: $main-bg-day;
    }

    &_night {
        background-color: $main-bg-night;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      padding: 20px 0;
      &_day {
        background-color: $bars-day;
        color: $font-day;
      }
      &_night {
        background-color: $bars-night;
        color: $font-night;
      }
    }
    &__back-btn {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0px;
      cursor: pointer;
      font-size: 32px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &_day {
        color: $font-day;
      }
      &_night {
        color: $font-night;
      }
    }
    &__back-btn-img {
      width: 40px;
      height: 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      flex-grow: 1;

      &_name {
        margin: 10px auto 15px 40px;
        font-size: 32px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: left;
      }
      &_items {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        font-size: 32px;
        align-items: flex-start;
        margin: 0 auto 32px 40px;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--Primary-Day, #1E85FF);
        .button {
          display: flex;
          color: var(--Primary-Day, #1E85FF);
          background: transparent;
          border: none;
          padding: 0;
          gap: 16px;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &_night {
            color:  #DEF8FC;
          }
        }
        &_night {
          color:  #DEF8FC;
        }
      }
      &_item {
        display: flex;
        align-items: center;
        gap: 16px;
        img {
          width: 32px;
          height: 32px;
        }
      }
      &_dinamic {
        margin: 0px auto 15px 40px;
        color: var(--Black-100, #101420);
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        flex-direction: column;
        gap: 17px;
      }
      &_input {
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        margin-left: 2px;
        font-family: Inter;
        &_day {
          color: $font-day;
        }
        &_night {
          color: $font-night;
          background-color: #101420;
        }
      }
      &_input_day::placeholder {
        color: $font-day;
      }
      &_input_day[type="text"]::-moz-placeholder {
        color:  $font-day;
        opacity: 1;
      }
      &_input_day[type="text"]:-moz-placeholder {
        color:  $font-day;
        opacity: 1;
      }
      &_input_night::placeholder {
        color: $font-night;
      }
      &_input_night::-moz-placeholder {
        color: $font-night;
        opacity: 1;
      }
  }
  &__content_dinamic_text {
    text-align: left;
    &_day {
      color: $font-day;
    }
    &_night {
      color: $font-night;
    }
  }
  &__content_dinamic_controler {
    input {
      width: 288px;
    }
    .controler__value {
      width: 64px;
      margin-left: 8px;
    }
  }
}


@media (min-width: 320px) and (max-width: 545px) {
  .settings {
    &__content {

      &_name {
        font-size: 23px;
        margin: 10px auto 15px 24px;
        text-align: left;
      }
      &_items {
        font-size: 24px;
        margin: 0 auto 15px 24px;
        .button {
          font-size: 24px;
        }
      }
      &_item {
        &_safe {
          text-align: left;
          width: 274px;
        }
      }
      &_dinamic {
        font-size: 24px;
      }
      &_input {
        font-size: 23px;
        margin-left: 8px;
        padding: 0;
      }
    }
    &__back-btn {
      font-size: 24px;
    }
    &_night {
      color: $font-night;
    }
    &__content_dinamic_controler {
      .controler__value {
        margin-left: 2px;
        width: 51px;
        height: 24px;
      }
      .controler {
        img {
          margin-right: 8px;
        }
        input {
          max-width: 256px;
        }
      }
    }
    &__content_dinamic {
     margin: 0px auto 15px 24px;
    }
  }
}