@import "../utils/variables";

.settings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;

    &_day {
        background-color: $main-bg-day;
    }

    &_night {
        background-color: $main-bg-night;
    }

    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      padding: 20px 0;
      &_day {
        background-color: $bars-day;
        color: $font-day;
      }
      &_night {
        background-color: $bars-night;
        color: $font-night;
      }
    }
    &__back-btn {
      background: transparent;
      border: none;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 0px;
      cursor: pointer;
      font-size: 32px;
      &_day {
        color: $font-day;
      }
      &_night {
        color: $font-night;
      }
    }
    &__back-btn-img {
      width: 40px;
      height: 40px;
    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        flex-grow: 1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      flex-grow: 1;

      &_name {
        margin: 10px auto 15px 15px;
        font-size: 28px;
      }
      &_items {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 28px;
        align-items: flex-start;
        margin: 0 auto 15px 15px;
        color: var(--Primary-Day, #1E85FF);
        .button {
          display: flex;
          color: var(--Primary-Day, #1E85FF);
          background: transparent;
          border: none;
          padding: 0;

          &_night {
            color: $font-night;
          }
        }
        &_night {
          color: $font-night;
        }
      }
      &_item {
        display: flex;
        align-items: center;
        gap: 5px;
        img {
          width: 32px;
          height: 32px;
        }
      }
      &_dinamic {
        margin: 10px auto 15px 15px;
        font-size: 28px;
      }
      &_input {
        color: var(--Black-100, #101420);
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border: none;
        margin-left: 10px;
        max-width: 200px;
      }
      ::placeholder {
        color: var(--Black-100, #101420);
      }
  }
  &__content_dinamic_controler {
    input {
      width: 288px;
    }
    .controler__value {
      width: 64px;
    }
  }
}

@media(max-width:360px) {
  .settings {
    &__content {

      &_name {
        font-size: 22px;
      }
      &_items {
        font-size: 20px;
        margin: 0 auto 15px 5px;
        .button {
          img {
            width: 26px;
            height: 26px;
          }
        }
      }
      &_item {
        img {
          width: 26px;
          height: 26px;
        }
      }
      &_dinamic {
        font-size: 22px;
        img {
          width: 26px;
          height: 26px;
        }
      }
      &_input {
        font-size: 22px;
        margin-left: 10px;
        max-width: 122px;
      }
      ::placeholder {
        color: var(--Black-100, #101420);
      }
      &_edit {
        img {
          width: 26px;
          height: 26px;
        }
      }
      &__content_dinamic_controler {
        input {
          width: 278px;
        }
      }
    }
    &__back-btn {
      font-size: 16px;
    }
    &_night {
      color: $font-night;
    }
  }
}

@media (min-width: 361px) and (max-width:650px) {
  .settings {
    &__content {

      &_name {
        font-size: 28px;
      }
      &_items {
        font-size: 23px;
        margin: 0 auto 15px 5px;
        .button {
          img {
            width: 28px;
            height: 28px;
          }
        }
      }
      &_item {
        img {
          width: 28px;
          height: 28px;
        }
      }
      &_dinamic {
        font-size: 28px;
        img {
          width: 28px;
          height: 28px;
        }
      }
      &_input {
        font-size: 28px;
        margin-left: 10px;
        max-width: 140px;
      }
      ::placeholder {
        color: var(--Black-100, #101420);
      }
      &_edit {
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
    &__back-btn {
      font-size: 28px;
    }
    &_night {
      color: $font-night;
    }
  }
}