$bars-day: #F4F5F9;
$bars-night: #1F2432;

$robot-day: #D1D8EF;
$robot-night: #1F2432;

$robot-move-night: #3B3F4B;

$btns-day: #1E85FF;
$btns-night: #DEF8FC;

$font-day: #101420;
$font-night: #FFF;

$main-bg-day: #FFF;
$main-bg-night: #101420;

$move-add-smt-day: rgba(30, 133, 255, 0.10);
$move-add-smt-night: rgba(222, 248, 252, 0.10);

$hover: #82D451;